<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>EasyJob</servlet-name>
		<servlet-class>modelo.EasyJobServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EasyJob</servlet-name>
		<url-pattern>/easyjob</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegistrarPostulante</servlet-name>
		<servlet-class>controlador.RegistrarPostulante</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RegistrarPostulante</servlet-name>
		<url-pattern>/registrarpostulante</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RegistrarAdministrador</servlet-name>
		<servlet-class>controlador.RegistrarAdministrador</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RegistrarAdministrador</servlet-name>
		<url-pattern>/registrarAdministrador</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Autentificador</servlet-name>
		<servlet-class>controlador.Autentificador</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Autentificador</servlet-name>
		<url-pattern>/autentificador</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MostrarAdministrador</servlet-name>
		<servlet-class>controlador.MostrarAdministrador</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MostrarAdministrador</servlet-name>
		<url-pattern>/mostrarAdministrador</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MostrarPostulante</servlet-name>
		<servlet-class>controlador.MostrarPostulante</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MostrarPostulante</servlet-name>
		<url-pattern>/mostrarPostulante</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MostrarEmpresa</servlet-name>
		<servlet-class>controlador.MostrarEmpresa</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MostrarEmpresa</servlet-name>
		<url-pattern>/mostrarEmpresa</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Eliminar</servlet-name>
		<servlet-class>controlador.Eliminar</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Eliminar</servlet-name>
		<url-pattern>/eliminar</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Modificar</servlet-name>
		<servlet-class>controlador.Modificar</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Modificar</servlet-name>
		<url-pattern>/modificar</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EvaluarTest</servlet-name>
		<servlet-class>controlador.EvaluarTest</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EvaluarTest</servlet-name>
		<url-pattern>/evaluartest</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
